@model Reservation
<h1>Select new time</h1>
<h2>Current time is @Model.Time</h2>
@using (Html.BeginForm("UpdateReservationToDatabase", "Reservation", FormMethod.Post))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />
    <input asp-for="First_Name" type="hidden" value="@Model.First_Name" />
    <input asp-for="Last_Name" type="hidden" value="@Model.Last_Name" />
    <input asp-for="Table_Size" type="hidden" value="@Model.Table_Size" />
    <input asp-for="Date" type="hidden" value="@Model.Date" />

    @*<label asp-for="First_Name" class="control-label">First Name</label>
        <input type="text" name="First_Name" class="form-control" value="@Model.First_Name" />

        <label asp-for="Last_Name" class="control-label">Last Name</label>
        <input type="text" name="Last_Name" class="form-control" value="@Model.Last_Name" />


        <label asp-for="Date" class="control-label">Date</label>
        <input type="date" name="Date" class="form-control" value="" />*@

    @foreach (var time in Model.TimeSlots)
    {

        <label asp-for="Time" class="control-label">@time</label>
        <input type="radio" value="@time" name="Time" />
    }




    <div class="form-group">
        @*<label for="">Select a Time Slot</label>
            <select class="form-control" name="ID" value="">
                @foreach (var res in Model.TimeSlots)
                {
                    <option value="@res.ID">@res.ID @res.Time</option>
                }
                <a href="C:\Users\amori\repos\RestaurantReservation\ReservationApp\Views\_ViewStart.cshtml">C:\Users\amori\repos\RestaurantReservation\ReservationApp\Views\_ViewStart.cshtml</a>
            </select>*@
    </div>
    <input type="submit" value="Select Time" class="btn btn-primary" />
}
<a href=/Reservation/Index>Cancel</a>
