@model Reservation

<h2>Update reservation for @Model.First_Name @Model.Last_Name</h2>

@using (Html.BeginForm("UpdateTime", "Reservation", FormMethod.Post))
{
    <input asp-for="ID" type="hidden" value="@Model.ID" />
    <input asp-for="Time" type="hidden" value="@Model.Time" />

    <label asp-for="First_Name" class="control-label">First Name</label>
    <input type="text" name="First_Name" class="form-control" value="@Model.First_Name" />

    <label asp-for="Last_Name" class="control-label">Last Name</label>
    <input type="text" name="Last_Name" class="form-control" value="@Model.Last_Name" />

    <label asp-for="Date" class="control-label">Date</label>
    <input type="date" name="Date" class="form-control" value="@Model.Date" />

    <label asp-for="Table_Size" class="control-label"></label>
    <input type="number" name="Table_Size" class="form-control" value="@Model.Table_Size" />




    <input type="submit" value="Select New Time"class="btn btn-primary" />

}
<a href=/Reservation/Index>Cancel</a>