@model Reservation

<h3>@Model.ID Information</h3>

<table class="table">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Table Size</th>
        <th>Booked</th>
        
    </tr>
    <tr>
        <td>@Model.ID</td>
        <td>@Model.First_Name</td>
        <td>@Model.Last_Name</td>
        <td>@Model.Date</td>
        <td>@Model.Time</td>
        <th>@Model.Table_Size</th>
        <td>@Model.Booked</td>
        
    </tr>

</table>

<div style="display: block">
    <a href="/Reservation/UpdateReservation/@Model.ID">Update this Reservation</a>
</div>

<div style="display: block">
    @using (Html.BeginForm("DeleteReservation", "Reservation", "Put"))
    {
        <input type="hidden" asp-for="ID" value="@Model.ID" />
        <input type="submit" onclick="return confirm('Are you sure?')" value="Cancel this reservation" />
    }
</div>


